{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    We have a variety of courses available. Look for the one that suits you.
{% endblock %}
{% block title %}
    Search -  Smart Desert Available Courses.
{% endblock %}

{% block content %}
    <div>
        <p class="text-center my_search_text">You have searched for: <b>{{ query }}</b></p>
    </div>
    <div class="container">
            <div class="row mx-auto">
                {% for product in products %}
    <!--            to add the pagintor, edit products of for loop to products.object_list-->
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
                    <div class="card text-center" style="width: 18rem;">
                        <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                        <div class="card-body">
                            <h4>{{ product.name }}</h4>
                            <p>&#8377;{{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="row mx-auto">
                    <p class="text-center my_search_text">0 results found. :(</p>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
